body {
    background-color: rgba(34, 34, 34, 0.1);
}

.button {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 100%;
    width: 100px;
    padding: 30px 0;
    margin: -10px 5px;
    background-color: #b4aeae;
    border: 2px solid black;
    box-shadow: 5px 5px #494949;
}

.button:active {
    background-color: #dbd6d6;
    transform: scale(.98);
    box-shadow: 4px 4px #494949;
}

#header {
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight:bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(220, 0, 0);
    width: 760px;
    margin: auto;
    padding: 20px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}


#blackboard {
    /* border-radius: 10%; */
    background-color: #b6b4b4;
    width: 640px;
    height: 640px;
    margin: auto;
    overflow:hidden;
    display: inline-grid;
}

#plastic {
    background-color: rgb(220,0,0);
    width: 800px;
    height: 800px;
    margin: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.colorClass {
    background-color: #b6b4b4;
}

/* .grid {
    border:1px solid black
} */

#main {
    display:block;
    text-align: center;
}

#clearButton {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

#blackButton {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

#randomButton {
    position: absolute;
    bottom: 100px;
    left: 225px;
}

.slideContainer {
    position: absolute;
    bottom: 70px;
    right: 225px;
}